.container {
  position: absolute;
  padding: 2.4rem 3.2rem 1.6rem 3.2rem;
  border: 0.1rem solid var(--lightGrey);
  border-radius: 1.2rem;
  z-index: 10;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.12) 0rem 0.6rem 1.6rem;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.min {
  color: var(--grey);
  margin-top: .8rem;
}