.btn {
  background: var(--gradient);
  padding: 14px 24px 14px 24px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: 0.1s;
}

.text {
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn:active {
  transform: scale(0.95);
  background: var(--radial);
}
